@page
@model Ethereal_Cloud.Pages.AccountModel
@{
    ViewBag.Title = "Account";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Account.css" asp-append-version="true">
}

<div class="row mt-3 align-content-center">
    <h2>Manage your account</h2>
    <div class="logout-button text-center">
        <a href="/Login" class="btn btn-primary">Logout here!</a>
    </div>
</div>