@page
@model Ethereal_Cloud.Pages.ProfileModel
@{
    ViewBag.Title = "Profile";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Profile.css" asp-append-version="true">
}

<div class="container mt-3">
    <h3 style="text-align:center;"><b>Profile</b></h3>
    <p style="text-align:center;">Here the user will be able to change any Profile e.g. sign out</p>
</div>