@page
@using Ethereal_Cloud.Models
@model AccountModel
@{
    ViewData["Title"] = "Privacy Policy";

    <h1>Accounts Page</h1>

    


    <form method="post">

        <input type="number" name="id" />
        <input type="email" name="email" />
        <input type="text" name="username" />
        <input type="password" name="password" />


        <button type="submit">Add</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            
        @{ string response = AccountModel.Main().Result; }
            <t1>@response</t1>


        </tbody>
    </table>

}
