@page
@model Ethereal_Cloud.Pages.BinModel
@{
    ViewBag.Title = "Bin";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Bin.css" asp-append-version="true">
}

<div class="container mt-3">
    <h3 style="text-align:center;"><b>Bin</b></h3>
    <p style="text-align:center;">Here the user will be able to restore or permanently delete files</p>
</div>