@page
@model Ethereal_Cloud.Pages.IndexModel
@{
    <div>
        <form method="post" asp-page-handler="File">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />

            <button type="submit">File</button>
        </form>

        <p id="test-out"></p>

        <script>
            var popupStatus = '@ViewData["PopupStatus"]';

            let out = document.getElementById("test-out");
            out.innerText = popupStatus;
            
        </script>
    </div>
}
