@page
@model Ethereal_Cloud.Pages.LoginSignupModel
@{
    ViewBag.Title = "Home";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Index.css" asp-append-version="true">
}

<div class="container mt-3" id="content">
    <h3 style="text-align:center;"><b>Welcome</b></h3>
    <p style="text-align:center;">Home page where there will be more information about the website and what it is</p>
    <h3>Login below!</h3>
    <a href="/Login" class="button">Login or Register now</a>
</div>