@page
@model Ethereal_Cloud.Pages.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Login.css" asp-append-version="true">
}

<div class="main">
    <div class="login-container align-items-center">
        <h2>Register</h2>
        <form method="post" asp-page-handler="Signup">
            <div class="form-floating">
                <input id="username" class="form-control" name="username" placeholder=" " required>
                <label for="username">Username</label>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder=" " name="email" required>
                <label for="email">Email</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" name="password" placeholder=" " id="password" required>
                <label for="password">Password</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="PasswordConf" placeholder=" " name="password" required>
                <label for="password">Confirm Password</label>
                <span class="password-toggle" onclick="togglePassword()">Show</span>
            </div>

            <div class="mb-3">
                <button type="submit" id="login-btn" class="btn btn-primary">Register</button>
            </div>

            <div class="mb-3">
                Already have an account?
                <a href="/Login" class="text-primary">Sign In</a>
            </div>
        </form>
    </div>
</div>

<div class="popup-message">
    @if (Model.errornum == -1)
    {

    }

    @if (Model.errornum == 0)
    {
        <!-- Success Alert -->
        <div class="alert alert-success alert-dismissible fade show mx-auto">
            <strong>Success!</strong> You have successfully registered.
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

    @if (Model.errornum == 1)
    {
        <!-- Error Alert -->
        <div class="alert alert-danger alert-dismissible fade show mx-auto">
            <strong>Error!</strong> A problem has been occurred while submitting your data.
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

    @if (Model.errornum == 2)
    {
        <!-- Error Alert -->
        <div class="alert alert-danger alert-dismissible fade show mx-auto" id="popup">
            <strong>Error!</strong> Your passwords must match in both inputs
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
</div>

<!-- Console logger -->
<script>
    function togglePassword() {
        const passwordInput1 = document.getElementById('password');
        const passwordInput2 = document.getElementById('PasswordConf');
        passwordInput1.type = (passwordInput1.type === 'password') ? 'text' : 'password';
        passwordInput2.type = (passwordInput2.type === 'password') ? 'text' : 'password';
    }

    var logger = '@ViewData["logger"]';
    if (logger !== null) {
        console.log(logger);
    }
</script>