@page
@model Ethereal_Cloud.Pages.SettingsModel
@{
    ViewBag.Title = "Settings";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Settings.css" asp-append-version="true">
}

<div class="container mt-3">
    <h3 style="text-align:center;"><b>Settings</b></h3>
    <p style="text-align:center;">Here the user will be able to change any settings e.g. contrast</p>
</div>
