@page
@model Ethereal_Cloud.Pages.SignupModel
@{
    <div>
        <form method="post" asp-page-handler="Signup">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />

            <button type="submit">Signup</button>
        </form>

        <script>
            var popupStatus = '@ViewData["PopupStatus"]';
            if (popupStatus === 'Success') {
                alert('Signup successful!');
                // You can customize the alert or use a more sophisticated popup library
            } else if (popupStatus === 'Failure') {
                alert('Signup failed!');
                // You can customize the alert or use a more sophisticated popup library
            }
        </script>
    </div>
}