@page
@model Ethereal_Cloud.Pages.TermsAndConditionsModel
@{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    Layout = null;

    <div class="container mt-3">
        <h3 style="text-align:center;"><b>Terms and conditions</b></h3>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
        <p>Here the user will be able to change any settings e.g. contrast</p>
    </div>
}