@page
@model Ethereal_Cloud.Pages.UploadModel
@{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    Layout = "SidebarsLayout";
    <link rel="stylesheet" href="/css/Site.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/Upload.css" asp-append-version="true">
}

<!-- Box at top of screen -->
<div class="text-box">
    <h1>Here are your files:</h1>
    <form method="get" asp-page-handler="File">
        <label for="id">Id:</label>
        <input type="number" id="id" name="id" required />
        <button type="submit">GetFileOfId</button>
    </form>

    <p id="test-out"></p>

    <script>
        var popupStatus = '@ViewData["PopupStatus"]';

        let out = document.getElementById("test-out");
        out.innerText = popupStatus;            
    </script>


    @if (Model.Files != null)
    {
        @foreach (var file in Model.Files)
        {
            <div>
                <span>@file.Filename</span>
                <a asp-page-handler="Download" asp-route-filename="@file.Filename">Download</a>
            </div>
        }
    }
    else
    {
        <p>No files available.</p>
    }
</div>

<!-- Box at bottom of screen -->
<div class="upload-box">
    <img src="~/UploadArrow.png" alt="logo" class="logo">
    <p></p>

    <div class="upload-btn-wrapper">
        <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
            <button class="btn">Choose a File!</button>
            <input type="file" id="fileInput" name="uploadedFile" />   
        </form>
    </div>

    <div class="upload-btn-wrapper">
        <button class="btn" type="submit" value="Upload">Upload file!</button>
    </div>
</div>
