<center class="align-content-center">
    <!-- Main -->
    <main class="row">
        <img src="~/Logo.png" alt="logo" class="logo">
        <h1>Ethereal Cloud</h1>

        <!-- Content -->
        <div class="content col-10">
            <!-- Topbar -->
            <nav class="navbar"></nav>
            <div class="main">
                <input type="checkbox" id="chk" aria-hidden="true">
                <div class="signup">
                    <form>
                        <!--Re add required="" to all the below-->
                        <label class="labelstart" for="chk" aria-hidden="true">Sign up</label>
                        <input type="test" name="test" placeholder="Username">
                        <input type="email" name="email" placeholder="Email">
                        <input type="password" name="pswd" placeholder="Password">
                        <input type="password" name="pswd" placeholder="Confirm password">
                    </form>
                </div>

                <div class="login">
                    <form>
                        <label class="labelbottom" for="chk" aria-hidden="true">Login</label>
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <button>Login</button>
                    </form>
                </div>
            </div>            

            <ul class="sidebar-body navbar-nav me-auto mb-2 mb-lg-0 nav-pills nav-justified">
                <li class="button">
                    <a class="nav-link @(Context.Request.Path == "/LandingPage" || Context.Request.Path == "/" ? "active" : "")" asp-area="" asp-page="/LandingPage">Press to bypass the login page!</a>
                </li>
            </ul>

            <div class="content render-body">
                @RenderBody()
            </div>
        </div>
    </main>
</center>