<body>   
    <div class="top-bar">
    </div>

    <div class="wrapper">
        <div class="sidebar">
            <div class="profile">
                <img src="~/Logo.png" alt="logo" class="logo">
                <h3>Ethereal Cloud</h3>
            </div>
            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">My Files</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Other Stuff</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Bin</span>
                    </a>
                </li>    
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-settings"></i></span>
                        <span class="bottom">Settings</span>
                    </a>
                </li>
            </ul>
        </div>        
    </div>

    <div class="content render-body">
        @RenderBody()
    </div>
</body>