#file-explorer {
    padding: 0px;
    justify-content: center;
}

/* This is where all the uploaded files are contained */
#scrollbox {
    margin: 0px;
    width: 100%;
    display: ruby-text;
    height: 50vh;
    max-height: inherit;
    justify-content: flex-start;
    overflow-y: scroll;
    text-align: center;
}

/* This is where the scrollbox is contained */
#filebox {
    height: 50vh;
    background: #f2f2f2;
    border: solid;
    border-color: #808080;
    border-radius: 20px;
    padding: 0px;
    overflow: hidden;
}