body {
    background-color: #dfcffb;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 88vh;
}

.home-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.logo {
    display: contents;
}

    .logo img {
        max-width: 85%;
        height: auto;
    }

.welcome-msg h1 {
    margin-top: 20px;
    font-size: 26px;
}

.small-gap {
    margin-top: 15px;
}

.big-gap {
    margin-top: 45px;
}

.btn-primary {
    display: block;
}

@media (max-width: 768px) {
    .home-container {
        width: 90%;
    }

    .col-md-6 {
        width: 100%;
        margin-bottom: 10px;
    }
}

p {
    font-size: 18px;
}

.mt-3 {
    margin: 0;
}