#share-button-holder {
    margin-left: auto;
}

.share-button {
    background: #ffffff;
    padding: 2px;
}

    .share-button.active {
        background: #947aba;
    }

    .share-button:hover {
        background: #7c47c7
    }
