body {
    font-family: 'Jost', sans-serif;
    background: #f5f6fa;
    overflow: auto;
    margin-bottom: 50px;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 22px;
}

.logo {
    width: auto;
    height: 3rem;
}

.navbar-brand {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
}

    .navbar-brand img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        padding: 5px;
    }

li {
    list-style: none;
    text-decoration: none;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.popup-message {
    width: fit-content;
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.btn {
    background: #9877c5;
    border-color: black;
}

    .btn:hover {
        background-color: #705892;
        border-color: black;
    }