body {
    font-family: 'Jost', sans-serif;
    background: #f5f6fa;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: auto;
    height: 5rem;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}