.temp-refresh-btn {
    text-align: center;
    padding: 5px;
    height: fit-content;
}

.upload-box {
    text-align: center;
    padding: 5px;
    border: dashed;
    height: fit-content;
    background-color: #dee4ec;
}

.uploaded-files {
    background-color: red;
}