@media screen and (min-width:992px){
    .navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar{
        width: 20%;
        height: 100vh;
        align-items:flex-start;
    }

    .navbar-brand{
        margin-left: 0.5rem;
        font-size: 1.5em;
        font-weight: bold;
    }

}



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    height: 100vh;
}

#sidebar {
    left: 0;
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar a {
        padding: 10px;
        text-decoration: none;
        font-size: 1.1em;
        color: #818181;
        display: block;
        transition: color 0.3s;
    }

        #sidebar a:hover {
            color: #f8f9fa;
        }

#content {
    flex: 1;
    padding: 20px;
}
