@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">EtherealCloudStorage -Made by Eli so far</h1>
    <p>Eli's help for creating this site:'</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>With absolutely no help from docker!</h2>
</div>
